
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    overflow-x: hidden;
}

.container {
    padding: 0 15px;
}

header {
    background-color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
    font-size: 24px;
    color: #007bff;
}

#summary-container p {
    font-size: 16px;
    color: #666;
}

.filter-container {
    margin-bottom: 15px;
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--multiple {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 5px;
}

.select2-selection__choice {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #0056b3;
    border-radius: 4px;
    padding: 0 5px;
    margin-right: 5px;
    cursor: pointer;
}

.select2-selection__choice__remove {
    color: #fff;
    cursor: pointer;
}

/* Tabelle */
.table {
    width: 100%;
    margin-bottom: 20px;
    background-color: #fff;
}

.table th,
.table td {
    text-align: left;
    padding: 12px;
    border-top: 1px solid #dee2e6;
}

.table th {
    background-color: #007bff;
    color: #fff;
    border-bottom: 2px solid #0056b3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
}

.table th:hover {
    background-color: #0056b3; 
}

.table-responsive {
    border-radius: 5px;
    overflow-x: auto;
}

.btn {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #0056b3;
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .table tbody td {
        display: block;
        text-align: center;
        padding: 10px;
        position: relative;
        border: none !important;
        border-bottom: 1px solid #e9ecef !important;
    }

    .table tbody td::before {
        content: attr(data-label);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        padding-right: 0;
        text-align: center;
        font-weight: bold;
        color: #007bff;
    }

    .table td:last-child {
        border-bottom: 2px solid #0080ff !important;
    }
    
    .table tbody td:nth-last-child(3) {
        display: none;
    }

    .table thead {
        display: none;
    }

    .table-responsive {
        overflow-x: auto;
    }

    header h1 {
        font-size: 1.8rem;
    }

    #summary-container p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) {
    .table th {
        font-size: 12px;
        padding: 8px;
    }
}